[submodule "repos/claude-video"]
	path = repos/claude-video
	url = https://github.com/bradautomates/claude-video.git
	branch = main

[submodule "repos/BrowserOS"]
	path = repos/BrowserOS
	url = https://github.com/browseros-ai/BrowserOS.git
	branch = main

[submodule "repos/public-apis"]
	path = repos/public-apis
	url = https://github.com/public-apis/public-apis.git
	branch = master
