modules = ["nodejs-20", "python-3.11"]

[nix]
packages = ["cairo", "cargo", "catch2", "ffmpeg-full", "fmt", "freetype", "ghostscript", "gobject-introspection", "gtk3", "libiconv", "libxcrypt", "muparserx", "nlohmann_json", "pkg-config", "qhull", "rustc", "spdlog", "tcl", "tk", "xsimd"]

[[ports]]
localPort = 3000
externalPort = 3003

[[ports]]
localPort = 3030
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 6001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8976
externalPort = 3002
exposeLocalhost = true

[objectStorage]
defaultBucketID = "replit-objstore-b67a4863-f1ed-4c9a-9dfd-6ee0cc90aa3e"
